.background {
	width: 100%;
	height: 608px;
	position: absolute;
	top: -88px;
	z-index: -1;
}

.banner_container {
	width: 1400px;
	height: 600px;
	margin: 60px auto 0;
}

.banner_background_container {
	width: 1400px;
	height: 600px;
	position: absolute;
	z-index: -1;
}

.banner_background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4px);
}

.banner_contents {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner_logo {
	width: 148px;
	height: 62px;
	margin-top: 73px;
}

.banner_summary {
	margin-top: 60px;
	font-family: 'Pretendard';
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #fff;
}

.banner_address {
	width: 183px;
	height: 38px;
	margin-top: 48px;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	span {
		margin: 7px auto auto 36px;
		display: block;
		font-family: 'Lato';
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		letter-spacing: -0.05em;
		color: #FFF;
	}
	button {
		margin: 9px;
		border-style: none;
		background: rgba(255, 255, 255, 0);
	}
}

.banner_server_state {
	width: 133px;
	height: 38px;
	margin-top: 20px;
	border: 1px solid #00FF75;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	span {
		margin: auto;
		font-family: 'Lato';
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: -0.05em;
		color: #00FF75;
	}
}

.banner_server_player {
	margin-top: 8px;
	font-family: 'Pretendard';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	letter-spacing: -0.05em;
	color: #FFF;
	b {
		font-weight: bold;
		font-size: 22px;
		line-height: 26px;
	}

}

.banner_link_container {
	margin: 36px auto 0;
	display: flex;
	.link_container {
		font-family: 'Pretendard';
		text-align: center;
		letter-spacing: -0.05em;
		color: #FFF;
		.link_title {
			display: inline-flex;
			span {
				margin-left: 4px;
				font-family: 'Pretendard';
				font-size: 18px;
				line-height: 22px;
				text-align: center;
				letter-spacing: -0.05em;
			}
		}
		p {
			margin: 7px 0 12px 0;
			font-size: 12px;
			line-height: 14px;
		}
		button {
			background: rgba(255, 255, 255, 0);
			border: 1px solid #FFFFFF;
			box-sizing: border-box;
			span {
				font-family: 'Pretendard';
				font-size: 12px;
				line-height: 14px;
				letter-spacing: -0.05em;
				color: #FFF;
			}
		}
	}
	.link_line {
		width: 4px;
		height: 95px;
		margin: 0 44px 0 44px;
		background: #FFFFFF;
	}
}

.banner_shadow {
	width: 1278px;
	height: 548px;
	position: absolute;
	top: 225px;
    left: 50%;
	transform: translate(-50%);
	z-index: -2;
	background: rgba(0, 0, 0, 0.2);
	filter: blur(40px);
}

.navigation_container {
	width: 1400px;
	margin: 40px auto 0;
	display: flex;
	justify-content: space-between;
}

.navigation {
	width: 696px;
	height: 200px;
	background: #FFFFFF;
	display: flex;
	font-family: 'Pretendard';
	align-items: center;
	justify-content: center;
	div {
		span {
			font-weight: bold;
			font-size: 36px;
			line-height: 43px;
			color: #A62B42;
		}
		p {
			margin: 5px 0 0 4px;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
	}
	button {
		width: 196px;
		height: 45px;
		margin-left: 88px;
		padding: 0;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			margin-right: 8px;
			font-weight: bold;
			font-size: 14px;
			line-height: 17px;
			text-align: right;
			color: #000;
		}
	}
}